{% macro render_field_with_errors(field, label) %}
<div class="form-group">
    {% if label %}
        {{ label }}
    {% else %}
        {{ field.label }}
    {% endif %} {{ field(class_='form-control', **kwargs)|safe }}
    {% if field.errors %}
    <ul>
        {% for error in field.errors %}
        <li style="color:red;">{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endmacro %}

{% macro render_field(field, label) %}
<p>{{ field(class_='form-control', **kwargs)|safe }}</p>
{% endmacro %}

{% macro render_checkbox_field(field, label) -%}
<div class="form-group">
    <div class="checkbox">
        <label>
            {{ field(type='checkbox', **kwargs) }} {% if label %} {{ label }} {% else %} {{ field.label }} {% endif %}
        </label>
    </div>
</div>
{%- endmacro %}