{% if security.registerable or security.recoverable or security.confirmable %}
<ul>
  <a href="{{ url_for_security('login') }}{% if 'next' in request.args %}?next={{ request.args.next|urlencode }}{% endif %}">Войти</a></br>

  {% if security.recoverable %}
  <a href="{{ url_for_security('forgot_password') }}">Восстановить пароль</a><br/>
  {% endif %}
</ul>
{% endif %}