{%- with messages = get_flashed_messages(with_categories=true) -%}
{% if messages %}
<ul class="flashes">
  {% for category, message in messages %}
  	{% if category == 'mycat' %}
  		<div class="alert alert-danger">{{ message }}</div>
  	{% elif category == 'myinfocat' %}
  		<div class="alert alert-success">{{ message }}</div>
  	{% endif %}
  {% endfor %}
</ul>
{% endif %}
{%- endwith %}