{% extends 'admin/master.html' %}
{% from "security/_macros.html" import render_field, render_field_with_errors, render_checkbox_field %}
{% include "security/_messages.html" %}
{% block body %}
{{ super() }}
<div class="row-fluid">
    <div class="col-sm-8 col-sm-offset-2">
        <h1>Восстановление пароля</h1>
        <form action="{{ url_for_security('forgot_password') }}" method="POST" name="forgot_password_form">
          {{ forgot_password_form.hidden_tag() }}
          {{ render_field_with_errors(forgot_password_form.email, label = 'E-mail') }}
          {{ render_field(forgot_password_form.submit, value = 'Восстановить') }}
        </form>
        {% include "security/_menu.html" %}
        </div>
    </div>
</div>
{% endblock body %}