{% extends 'admin/master.html' %}
{% from "security/_macros.html" import render_field, render_field_with_errors, render_checkbox_field %}
{% block body %}
{{ super() }}
<div class="row-fluid">
    <div class="col-sm-8 col-sm-offset-2">
        {% include "security/_messages.html" %}
        <h1>Войти</h1>
        <div class="well">
            <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
                {{ login_user_form.hidden_tag() }}
                {{ render_field_with_errors(login_user_form.email, label = 'E-mail') }}
                {{ render_field_with_errors(login_user_form.password, label = 'Пароль') }}
                {{ render_checkbox_field(login_user_form.remember, label = 'Запомнить') }}
                {{ render_field(login_user_form.next) }}
                {{ render_field(login_user_form.submit, class="btn btn-primary", value="Войти") }}
            </form>
            <p><i>Не знаете свой логин? Пожалуйста, обратитесь к администратору.</i></p>
            {% if security.recoverable %}
                <i><a href="{{ url_for_security('forgot_password') }}">Забыли пароль?</a><br/></i>
  {% endif %}
        </div>
    </div>
</div>
{% endblock body %}
