{% extends 'admin/master.html' %}
{% if current_user.has_role('admin') %}
{% block body %}
{{ super() }}
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h1>Обзор системы</h1>
            
            {% if not current_user.is_authenticated %}
                <p>Для просмотра необходимо авторизироваться.</p>
                <p><a class="btn btn-primary" href="{{ url_for('security.login') }}">Войти</a></p>
                <p><a class="btn btn-primary" href="/"><i class="glyphicon glyphicon-chevron-left"></i> На главную</a></p>
            {% else %}
                {% with info = overview() %}
                <table class='table table-bordered table-hover'>
                    <tr>
                        <td>Участников</td>
                        <td>{{ info['members'] }}</td>
                    </tr>
                    <tr>
                        <td>Всего выведено</td>
                        <td>{{ info['withdraw_sum'] }} руб.</td>
                    </tr>
                    <tr>
                        <td>E-mail администратора</td>
                        <td>{{ info['admin_email'] }}</td>
                    </tr>
                </table>
                {% endwith %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock body %}
{% else %}
<a href="{{ url_for('index') }}">Вернуться к моей панели</a>
{% endif %}