<h1>Система Cash Step установлена!</h1>
<table>
    <tr>
        <td style="padding:20px">E-mail администратора:</td>
        <td>{{ user.email }}</td>
    </tr>
    <tr>
        <td style="padding:20px">Пароль администратора:</td>
        <td>{{ password }}</td>
    </tr>
</table>
<br>
<p align = "center">Панель администратора находится <a href="{{ url_for('admin.index') }}">здесь</a>.</p>