<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="one level system">
    <meta name="author" content="lertam">
    <link rel="icon" href="{{ url_for('static', filename = 'favicon.ico') }}">

    <title>Личный кабинет - Cash Step</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename = 'dist/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{{ url_for('static', filename = 'assets/css/ie10-viewport-bug-workaround.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename = 'onelevel.css') }}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{{ url_for('static', filename = 'assets/js/ie-emulation-modes-warning.js') }}"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <canvas id="bg-animation"></canvas>
    <div class="body">

        <div class="site-wrapper">

          <div class="site-wrapper-inner">

            {% block content %}{% endblock %}

            </div>

        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src=\'{{ url_for("static", filename = "assets/js/vendor/jquery.min.js") }}\'><\/script>')</script>
    <script src="{{ url_for('static', filename = 'dist/js/onelevel.js') }}"></script>
    <script src="{{ url_for('static', filename = 'dist/js/bootstrap.min.js') }}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ url_for('static', filename = 'assets/js/ie10-viewport-bug-workaround.js') }}"></script>
    <!-- Background Graphic -->
    <script src="{{ url_for('static', filename = 'dist/js/bg-animation.js') }}"></script>

  </body>
</html>