{% extends "base.html" %}
{% from "security/_macros.html" import render_field, render_field_with_errors %}


{% block content %}
<div class="cover-container">
  <div class="masthead clearfix">
    <div class="inner">
      <h3 class="masthead-brand col-xs-3">Cash Step</h3>
      <h1 class="col-xs-6">Личный кабинет</h1>
      <nav class="col-xs-3">
        <ul class="nav masthead-nav">
          <!--<li class="active"><a href="#">Главная</a></li>-->
          <li><a href="{{ url_for('security.logout', next = '/') }}">Выйти</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="display-queue">
      <h2>Еще <span class="count">{{queue}}</span> участников и вы сможете забрать свою прибыль</h2>
      <div class="display-queue-image">
          {% for member in range(0,queue) %}
            <img src="{{ url_for('static', filename = 'assets/img/member.png') }}">
          {% endfor %}
      </div>
  </div>

  <div class="inner cover">
  <h2 class="cover-heading">Информация</h2>
    <div class="row">
        {% include "security/_messages.html" %}
    	<div class="{% if (not current_user.full) or not ticket%}col-sm-6{% else %}col-sm-12{% endif %}">
    		<h3 align="left">Информация</h3>
    		<table class="lead">
    			<tr>
    				<td align="left"><b>ФИО:</b></td>
    				<td>{{ getFullName(current_user) }}</td>
    			</tr>
    			<tr>
    				<td align="left"><b>E-mail:</b></td>
    				<td>{{ current_user.email }}</td>
    			</tr>
    			<tr>
    				<td align="left"><b>Средства:</b></td>
    				<td>{{ current_user.money }}</td>
    			</tr>
    			<tr>
    				<td align="left"><b>Пассивный:</b></td>
    				<td>
    					{% if current_user.passive %}
    						<span style="color:red;">Да</span>
    					{% else %}
    						<span style="color:green;">Нет</span>
    					{% endif %}
    				</td>
    			</tr>
    			{% if not referals %}
    			<tr>
    				<td align="left">Куратор</td>
    				<td>
					{% if not current_user.curator %}
						Скоро появится
					{% else %}
						{{ current_user.curator }}
					{% endif %}
				</td>
    			</tr>
    			{% else %}
    			<tr>
    			    <td align="left">Рефералы</td>
    			    <td>{% for val in referals %}
    					     {{ loop.index0 + 1 }}. {{ val.email }}</br>
 		                   {% endfor %}
	                    </td>
    			</tr>
    			{% endif %}
    		</table>
    	</div>
        {% if current_user.full and current_user.money > 0 %}
        	<div class="col-sm-6"  id = "functions">
                {% if not ticket %}
                <form method="POST">
                    {{ form.csrf_token() }}
                    <div class="form-group">
                        {{ form.account(class='form-control', placeholder = "Счет для вывода средств")|safe }}
                        {% if form.account.errors %}
                        <ul>
                            {% for error in form.account.errors %}
                            <li style="color:red;">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>

                    <input class = "btn btn-default btn-lg" name = "rp" value = "Участвовать снова" type = "submit" {% if current_user.money < 7000 %}disabled="" title="На вашем счете в системе должно быть больше 7 000 рублей."{% endif %}/><br>
                    <input class = "btn btn-default btn-lg" name = "wd" value = "Вывести все средства" type = "submit" />
                </form>
    		  {% endif %}
    		</div>
	       {% endif %}
         {% if ticket %}
	        <div class="col-sm-6" id="functions">Ваш запрос обрабатывается.<br>Ожидаемый вывод: {{ ticket.sum }} руб.</div>
         {% endif %}
    	   </div>
    </div>
  </div>

  <div class="mastfoot">
    <div class="inner">
      <p>D-Solution<br><a href="mailto:lertam@rambler.ru">Contact<a></p>
    </div>
  </div>

</div>

{% endblock %}
