<h1>Поздравляем! Ваш уровень заполнен!</h1>
<h3>Теперь вы можете вывести средства или вновь стать участником Cash Step. Подробнее - в личном кабинете.</h3>
<br>
<p align = "center">Личный кабинет находится <a href="{{ url_for('index') }}">здесь</a>.</p>