<h1>Добро пожаловать в Cash Step!</h1>
<table>
    <tr>
        <td style="padding:20px">E-mail:</td>
        <td>{{ user.email }}</td>
    </tr>
    <tr>
        <td style="padding:20px">Пароль:</td>
        <td>{{ password }}</td>
    </tr>
</table>
<br>
<p align = "center">Личный кабинет находится <a href="{{ url_for('index') }}">здесь</a>.</p>